# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE configs
.vscode/
.idea/
*.swp
*.swo

# Logs & temp outputs
*.log
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/
